.buttonMeal{
    padding:15px 25px;
    height: 60px;
    margin-left: 60px;
    font-size: 35PX;
    line-height: 35PX;
    border-radius: 5PX;
    border: none ;
    cursor: pointer;
}
.buttonMeal:hover{
    background-color:#000 ;
    color: #fff;
}

@media screen and (max-width:500px) {
    .buttonMeal{
        margin: 0px;
        margin-bottom: 10px;
        font-size: 25px;
        height: 40px;
        padding: 5px;
        margin-left: 10px;

    }
}