.BotonCarrito{
    padding: 15px 50px;
    font-size: 25px;
    border-radius: 10px;
    width: 95%;
    cursor:pointer;
    border-radius: 8px;
    border:none;
}

@media screen and (max-width:500px) {
    .BotonCarrito{
        font-size: 20px;
        padding:15px 10px;
    }
}