.containSendWhatsapp p {
    color:#fff;
    font-size: 27px;
    width:50%;
    margin-bottom: 30px;
}

.containSendWhatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width:500px) {

    .containSendWhatsapp p {
    font-size: 20px;
    width: 80%;
    }

    


}

