.buttonBebidas{
    padding:15px 25px;
    height: 60px;
    
    font-size: 35PX;
    line-height: 35PX;
    border-radius: 5PX;
    border: none ;
    cursor: pointer;
}

.buttonBebidas:hover{

    background-color:#000 ;
        color: #fff;

}

@media screen and (max-width:500px) {
    .buttonBebidas{
        margin-bottom: 10px;
        font-size: 25px;
        height: 40px;
        padding: 5px;

    }
}